<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.audiobookapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FirstActivity"
            android:label="Marc Elsberg - Blackout"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SecondActivity"
            android:label="J.R.R. Tolkien - Hobbit"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".ThirdActivity"
            android:label="Agatha Christie - A.B.C."
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".FourthActivity"
            android:label="Hanya Yanagihara - Little live"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".FifthActivity"
            android:label="N.E. Conneely - Witch for hire"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SixthActivity"
            android:label="J.K. Rowling - Harry Potter"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>