<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.audiobookapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".First"
            android:label="Marc Elsberg - Blackout" />
        <activity
            android:name=".Second"
            android:label="J.R.R. Tolkien - Hobbit" />
        <activity
            android:name=".Third"
            android:label="Agatha Christie - A.B.C." />
        <activity
            android:name=".Fourth"
            android:label="Hanya Yanagihara - Little live" />
        <activity android:name=".Fifth"
            android:label="N.E. Conneely - Witch for hire"/>
        <activity android:name=".Sixth"
            android:label="J.K. Rowling - Harry Potter">
        </activity>
    </application>

</manifest>